.movinderBtn {
  width: fit-content;
  background: #fd655c;
  color: white;
  font-weight: bold;
}

.box {
  padding: 3%;
}

.movieList {
  margin-top: 1%
}

.ant-card-head-title {
  text-align: left;
}