.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 300px;
}

.menuBar {
  padding: 0 10px;
  border-bottom: solid 1px #dbc4c4;
  overflow: auto;
  text-align: center;
}

.logo {
  width: 150px;
  float: left;
  margin: 13px;
}

.logo a {
  display: inline-block;
  font-size: 18px;
  padding: px 10px;
  text-transform: capitalize;
}


.menuCon .ant-menu-horizontal {
  border-bottom: none;
  border-right: none;
}

.menuCon .leftMenu {
  margin: 10px;
  float: left;
  width: 30%;
}

.menuCon .rightMenu {
    float: right;   
    width: 25%; /*three boxes (use 25% for four, and 50% for two, etc) */
    margin-top: 35px;

}


.barsMenu>span {
  display: block;
}


@media (max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }

  .leftMenu
  {
    padding: 15px;
  }
  .rightMenu{
    padding: 15px;
  }


  .logo a {
    padding: 10px 20px;
  }
}